body {
  background-image: url('background.jpg');
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: rgb(41, 25, 51); }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block;
  color:rgb(68, 13, 95);
}

  .jumbotron{
    background-image: url('study.png');
    background-size: cover;
    opacity: 0.5;
  }
  
  h2{
    color:rgb(232, 203, 248);
  }

  h3{
    color:rgb(43, 8, 99);
  }

  .string-required{
    color:rgb(67, 66, 70);
  }
  .course-search{
    background-color:rgb(224, 222, 226);
  }

  .table-bordered{
    color:rgb(237, 218, 247);
  }

  

  